<!-- Footer -->
<br>
<footer class="footer bg-dark text-white py-3 mt-auto">
  <div class="container text-center">
    
    <!-- Section: Social media -->
    <section class="mb-1 d-flex justify-content-center">

        <!-- E-mail -->
        <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="mailto:rafael.m.s.j@hotmail.com"
        role="button"
        target="_blank"
        >
        <i class="fas fa-envelope"></i>
        </a>


      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="https://www.linkedin.com/in/rafael-maffei-silveira-junior-448a25212/"
        role="button"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="https://github.com/rafaelmsj"
        role="button"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->

    <!-- Copyright -->
    <p class="mb-0">&copy; 2025 Todos os direitos reservados | Desenvolvido por <strong>RafaelJR-Dev</strong></p>
  </div>
</footer>
<!-- Adicionando o JavaScript do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/javascript.js"></script>
</html>