<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="shortcut icon" href="imgs/sistema/favicon_io/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
<!-- As a link -->
  

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/admin">
        <img src="/imgs/sistema/logo-softcam.png" width="250" height="50" alt="">
      </a>

      <div class="d-inline-flex border">
        
        <div class="d-inline-flex mr-2">
          <img src="/imgs/sistema/noimage_vereador.jpg" width="50" height="50" alt="">
        </div>
        
        <div class="user mr-2 ml-2">        
          <strong><div class="nome">Rafael MAffei Silveira</strong>
        <div class="setor">suporte</div>
      
      </div>
    </nav>

 

</header>