<%- include('partials/head.ejs') %>


<body>

    <div class="wrapper">

        <div class="container">
            <div tabindex="-1" id="alertaerro" role="alert" style="display: none;"></div>
            <form action="/update_concorrentes" class="form-control" method="post" onsubmit="updateConcorrentes(); return false;">
                
                <div class="card">
                
                    <div class="card-header">
                        Insira o nome da empresa concorrente
                    </div>
    
                    <div class="card-body">
                        <input type="text" name="concorrente" class="form-control form-control-lg inputs" value="<%=concorrente.nome%>"><br>
                        <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        <label for="concorrente">Ex: LANCER, SAPL, GDOC</label>
                       
                        
                    </div>
    
                    <div class="card-footer">
                        <div onclick="updateConcorrentes()" class="btn btn-success">Salvar</div>
                        <a href="/listar_concorrentes"><div class="btn btn-secondary">Voltar</div></a>
                    </div>
                    
                </div>
                    <input type="hidden" name="id" style="display: none;" value="<%=concorrente.id%>">
            </form>
            
        </div>

    </div>
   
</body>

<%- include('partials/footer.ejs') %>