<%- include('partials/head.ejs') %>

<body>

    <div class="wrapper">

        <div class="container">

            <form action="/update_modulos" class="form-control" method="post">
                
                <div class="card">
                
                    <div class="card-header">
                        Alterar módulo do sistema
                    </div>
    
                    <div class="card-body">
                        <input type="text" name="modulo" class="form-control form-control-lg inputs" value="<%=modulo.modulo%>"><br>
                        <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        <label for="modulo">Ex: Processo Legislativo, Protoclo, Votação</label>
                       
                        
                    </div>
    
                    <div class="card-footer">
                        <div onclick="conferenull()" class="btn btn-success">Salvar</div>
                        <a href="/listar_modulos"><div class="btn btn-secondary">Voltar</div></a>
                    </div>
                    
                </div>
    
                <input type="hidden" name="id" style="display: none;" value="<%=modulo.id%>">
            </form>
            
        </div>

    </div>
    
</body>

<%- include('partials/footer.ejs') %>