<%- include('partials/head.ejs') %>

<body>

    <div class="wrapper">

        <div class="container">
            <div tabindex="-1" id="alertaerro" role="alert" style="display: none;"></div>
            <form action="/update_tipo_entidade" class="form-control" method="post" onsubmit="updateTipodeEntidade(); return false;">
                
                <div class="card">
                
                    <div class="card-header">
                        Alterar tipo da entidade
                    </div>
    
                    <div class="card-body">
                        <input type="text" name="tipo_entidade" class="form-control form-control-lg inputs" value="<%=tipo.tipo_entidade%>"><br>
                        <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        <label for="tipo_entidade">Ex: Câmara, Prefeitura</label>
                       
                        
                    </div>
    
                    <div class="card-footer">
                        <div onclick="updateTipodeEntidade()" class="btn btn-success">Salvar</div>
                        <a href="/listar_tipos_entidade"><div class="btn btn-secondary">Voltar</div></a>
                    </div>
                    
                </div>
                <input type="hidden" name="id" style="display: none;" value="<%=tipo.id%>">
            </form>
            
        </div>

    </div>
    
</body>

<%- include('partials/footer.ejs') %>