<%- include('partials/head.ejs') %>

<body>

    <div class="wrapper">

        <div class="container">
            <div tabindex="-1" id="alertaerro" role="alert" style="display: none;"></div>
            <form action="/update_versao" class="form-control" method="post" onsubmit="updateVersao(); return false;">
                
                <div class="card">
                
                    <div class="card-header">
                        Alterar versão do sistema
                    </div>
    
                    <div class="card-body">
                        <input type="text" name="versaosis" class="form-control form-control-lg inputs" value="<%=versao.versao%>"><br>
                        <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        <label for="versaosis">Ex: Softcam, Plenus, Legislarr</label>
                    </div>
    
                    <div class="card-footer">
                        <div onclick="updateVersao()" class="btn btn-success">Salvar</div>
                        <a href="/listar_versaosis"><div class="btn btn-secondary">Voltar</div></a>
                    </div>
                    
                    <input type="hidden" name="id" style="display: none;" value="<%=versao.id%>">
                </div>
                
            </form>
            
        </div>

    </div>
    
</body>
<%- include('partials/footer.ejs') %>