<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importação Tickets</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<header><a href="/login">LOGIN</a></header>
<body>
    <h1>online</h1>
    <div class="container">
        <form class="form-control" action="/salvarentidade" method="post">
            <textarea name="cidade" id=""></textarea>
            <textarea name="estado" id=""></textarea>
            <button type="submit" class="btn btn-success">envia</button>
        </form>
    </div>
</body>
