<%- include('partials/head.ejs') %>

<body>

    <div class="wrapper">
        
        <div class="container">
            <div tabindex="-1" id="alertaerro" role="alert" style="display: none;"></div>
            <form action="/salvar_grupos_de_usuarios" class="form-control" method="post">
                
                <div class="card">
                
                    <div class="card-header">
                        Insira o Grupo de Usúrio
                    </div>
    
                    <div class="card-body">
                        <input type="text" name="gruposusuario" class="form-control form-control-lg inputs"><br>
                        <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        <label for="gruposusuario">Ex: Administrador, Normal, Visualizar </label>
                        <br>
                        <br>
                        <strong><p>Permissões</p></strong>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="inserir" value="1">
                            <label class="form-check-label" for="inserir">Inserir</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="alterar" value="1">
                            <label class="form-check-label" for="alterar">Alterar</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="deletar" value="1">
                            <label class="form-check-label" for="deletar">Deletar</label>
                          </div>
                    </div>
    
                    <div class="card-footer">
                        <div onclick="cadastrarGrupodeUsuarios()" class="btn btn-success">Salvar</div>
                        <a href="/listar_grupos_de_usuarios"><div class="btn btn-secondary">Voltar</div></a>
                    </div>
                    
                </div>
            </form>
            
        </div>

    </div>

</body>
<%- include('partials/footer.ejs') %>