<%- include('partials/head.ejs') %>

<body>
    <div class="container">
        
        <div class="card mt-2">
            
            <div class="card-header">
                Usúarios
            </div>
            
            <div class="card-header">
                <a href="/inserir_usuarios"><button class="btn btn-primary">Inserir</button></a>
                <a href="/admin"><div class="btn btn-secondary">Voltar</div></a>
            </div>

            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Usúario</th>
                      </tr>
                    </thead>
                    <tbody>

                     
                    </tbody>
                  </table>

            </div>


        </div>
        

    </div>    
</body>

<% include('partials/footer.ejs') %>