<%- include('../../partials/head.ejs') %>

<body>

    <div class="wrapper">

        <div class="container">
            <div tabindex="-1" id="alertaerro" role="alert" style="display: none;"></div>
            <form action="/admin/salvar_prioridade" class="form-control" method="post" onsubmit="cadastrarPrioridade(); return false;">
                
                <div class="card">
                
                    <div class="card-header">
                        Insira o tipo de prioridade
                    </div>
    
                    <div class="card-body">
                        <input type="text" name="prioridade" class="form-control form-control-lg inputs"><br>
                        <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        <label for="prioridade">Ex: Alta, Média, Baixa, Muito Baixa</label>
                       
                        
                    </div>
    
                    <div class="card-footer">
                        <div onclick="cadastrarPrioridade()" class="btn btn-success">Salvar</div>
                        <a href="/admin/listar_prioridades"><div class="btn btn-secondary">Voltar</div></a>
                    </div>
                    
                </div>
            </form>
            
        </div>

    </div>
    
</body>

<%- include('../../partials/footer.ejs') %>